# =-=-=-=-= Root =-=-=-=-=
node_modules/

# =-=-=-=-= Microcontroller =-=-=-=-=
# PlatformIO
microcontroller/.pio

# secret variables
microcontroller/include/secrets.h

# =-=-=-=-= Mobile app =-=-=-=-=
# dependencies
mobile/node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts

# Native
mobile/.kotlin/
mobile/*.orig.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision

# Metro
mobile/.metro-health-check*

# debug
mobile/npm-debug.*
mobile/yarn-debug.*
mobile/yarn-error.*

# macOS
mobile/*.pem

# local env files
mobile/.env*.local

# typescript
mobile/*.tsbuildinfo

mobile/app-example
mobile/android
