@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
  --primary: 55 114 187;
  --primary-foreground: 250 250 250;
  --secondary: 232 97 140;
  --secondary-foreground: 23 23 23;
  --card: 255 255 255;
  --card-foreground: 10 10 10;
  --muted: 245 245 245;
  --muted-foreground: 115 115 115;
  --destructive: 231 0 11;
  --border: 229 229 229;
  --input: 229 229 229;
  --ring: 161 161 161;
}

.dark {
  --background: 30 33 40;
  --foreground: 250 250 250;
  --primary: 55 114 187;
  --primary-foreground: 250 250 250;
  --secondary: 232 97 140;
  --secondary-foreground: 23 23 23;
  --card: 36 39 47;
  --card-foreground: 250 250 250;
  --muted: 38 38 38;
  --muted-foreground: 161 161 161;
  --destructive: 255 100 103;
  --border: 255 255 255 0.1;
  --input: 50 55 67;
  --ring: 115 115 115;
}
