@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: replace hex to rgb values */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary: 55 114 187;
  --primary-foreground: #fafafa;
  --secondary: #e8618c;
  --secondary-foreground: #171717;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --destructive: #e7000b;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
}

.dark {
  --background: #1e2128;
  --foreground: #fafafa;
  --primary: #3772bb;
  --primary-foreground: #fafafa;
  --secondary: #e8618c;
  --secondary-foreground: #171717;
  --card: #24272f;
  --card-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --destructive: #ff6467;
  --border: #ffffff1a;
  --input: #323743;
  --ring: #737373;
}
